.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ADC5E1; 
    position: sticky;
    top: 0;        
    z-index: 1000;   
    font-family: 'Montserrat', sans-serif;
    height: 48px;
}

.header {
    font-family: 'Montserrat', serif;
    margin: 0;
    color: #231a07;
    font-size: 27px;
}

.header-buttons a {
    margin: 0 10px;
    text-decoration: none;
    color: #231a07;
    font-weight: bolder;
    padding: 8px 16px;
    font-size: 17px;
    transition: transform 0.5s, background 0.3s, color 0.3s;
    border-radius: 20px;
}

.header-buttons a:hover {
    display: inline-block;
    transform: translateY(-6px);
    background-color: #DDA537;
    color: #fff;
}

.header-buttons a.active {
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    background-color: #f3f2f2;
    padding: 20px;
    min-height: 70vh;
}

.home h1 {
    padding-top: 40px;
    text-align: center;
}

.home p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

.slogan-section {
    display: flex;
    justify-content: center;
}

.cat-img {
    margin-top: -360px;
    width: 100%;
    max-width: 1700px;
}

.about {
    padding-top: 20px;
    height: 480px;
    background: linear-gradient(to bottom, #f3f2f2, #fef8d3);
    text-align: center;
}

.about h2 {
    margin-top: 70px;
    font-size: 32px;
}

.about p {
    padding-top: 15px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

.skills {
    padding: 60px 20px;
    background: linear-gradient(to bottom, #fef8d3, #efeac8);
    text-align: center;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 50px;
    color: #231a07;
    font-weight: bold;
}

.skill-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.skill-category {
    text-align: center;
}

.skill-category p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    color: #231a07;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.icons i {
    display: inline-flex;         
    justify-content: center;      
    align-items: center;         
    width: 60px;                 
    height: 60px;                
    font-size: 28px;              
    background-color: #564117;     
    color: #fff;                  
    border-radius: 50%;           
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.icons i:hover {
    transform: scale(1.3);
    background-color: #DDA537;
}

.icons span {
    font-family: 'Montserrat', serif;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #231a07;
}

.projects {
    padding: 80px 20px;
    background: linear-gradient(to bottom,#efeac8, #fef8d3);
    margin: 0 auto;
    text-align: center;
}

.h2-projects {
    font-size: 32px;
    margin-bottom: 30px;
}

.project-lines {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 30px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.projects-card {
    display: flex;
    flex-direction: column; 
    background: #ffffff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.projects-card:hover {
    transform: translateY(-10px);
}

.project-art {
    width: 100%;
    height: 250px; 
}

.project-img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.projects-info {
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.h2-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
}

.logo a {
    color: #231a07;
    font-size: 28px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.logo a:hover {
    transform: scale(1.3);
    color: #DDA537;
}

.p-info {
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px; 
    margin: 0 20px 12px 20px;
}

.events-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.events-tools span {
    background-color: #ADC5E1;
    color: #231a07;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.events-tools span:hover {
    transform: translateY(-6px);
    background-color: #DDA537;
    color: #fff;
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px); 
    transition: opacity 1.4s ease-out, transform 1.4s ease-out;
    will-change: opacity, transform;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
